node_modules

drizzle/
*.db*

.output
.wrangler
/.svelte-kit
/build
out
dist
*.tgz

.env
.env.*
!.env.example
!.env.test

vite.config.js.timestamp-*
vite.config.ts.timestamp-*

local

logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

.eslintcache
.cache
*.tsbuildinfo
